 API_GATEWAY_PORT=
 AI_WORKER_PORT=
 BILLING_PORT=

REDIS_PORT=
REDIS_PASSWORD=
REDIS_URL=redis://:CHANGE_ME_WITH_REDIS_PASS@redis:CHANGE_ME_WITH_REDIS_PORT

RMQ_PORT=
RMQ_UI_PORT=
RMQ_USER=
RMQ_PASS=
RMQ_URL=amqp://CHANGE_ME_WITH_RMQ_USER:CHANGE_ME_WITH_RMQ_PASS@rabbitmq:CHANGE_ME_WITH_RMQ_PORT
